@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&family=Work+Sans&display=swap");

:root {
  --primary: #3a3a3a;
  --secondary: #e02c6d;
  --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow-x: hidden;
}
/* header section start */
.header {
  display: flex;
  justify-content: space-between;
  margin: 95px 100px;
  align-items: center;
}
.header .title {
  font-weight: 700;
  font-size: 24px;
  color: var(--primary);
}

.header ul {
  display: flex;
  gap: 30px;
}

.header ul li {
  list-style: none;
}
.header ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  color: var(--primary);
}

/* Banner section start */
.banner {
  display: flex;
  margin: 0 100px;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.left-banner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 50%;
}

.left-banner h1 {
  font-weight: 700;
  font-size: 52px;
  color: var(--primary);
}
.left-banner p {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary);
}

.left-banner button {
  width: 196px;
  height: 44px;
  background-color: var(--secondary);
  border-radius: 41px;
  color: var(--white);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.right-banner {
  flex-basis: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-banner .image1 {
  width: 475px;
  height: 475px;

  /* object-fit: cover; */
}
.right-banner .camera-img {
  width: 440px;
  height: 410px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* sponsor logo section */
.sponsor-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0;
}
.sponsor-logo-container .sponser-inner {
  display: flex;
  gap: 40px;
  /* margin: 120px 165px; */
  justify-content: center;
  align-items: center;
}

.sponsor-logo-container img {
  width: 80px;
  height: 25px;
}

.sponsor-logo-container hr {
  width: 1000px;
  border: 1px solid #aaaaaa;
  margin: 36px 0;
}

/* .hr-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/********************
    Media query start
********************/

/* media query for header */

@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    justify-content: center;
    margin: 35px 90px;
    align-items: center;
  }
  .header .title {
    font-weight: 700;
    font-size: 14px;
  }
  .header ul {
    margin-top: 20px;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 822px) {
  .header {
    flex-direction: column;
  }
  .header .title {
    margin-bottom: 20px;
  }
}

/* meada query for banner */

@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    gap: 25px;
    margin: 0 25px;
  }

  .left-banner {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
  }

  .right-banner {
    flex-basis: 100%;
  }
  .left-banner h1 {
    font-weight: 700;
    font-size: 28px;
  }
  .left-banner p {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
  }

  .left-banner button {
    width: 196px;
    height: 44px;
    background-color: var(--secondary);
    border-radius: 41px;
    color: var(--white);
  }
  .right-banner .image1 {
    width: 325px;
    height: 325px;
    /* object-fit: cover; */
  }
  .right-banner .camera-img {
    width: 300px;
    height: 260px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
  }
}

@media screen and (min-width: 577px) and (max-width: 1188px) {
  .banner {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 0 25px;
  }
  .left-banner {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* sponsor logo media query */

@media screen and (max-width: 576px) {
  .sponsor-logo-container {
    margin: 0 0;
  }
  .sponsor-logo-container .sponser-inner {
    flex-wrap: wrap;
    gap: 20px;
  }
  .sponsor-logo-container hr {
    border-style: none;
  }

  .sponsor-logo-container img {
    width: 60px;
    height: 25px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1000px) {
  .sponsor-logo-container {
    margin: 10px 0;
  }
  .sponsor-logo-container hr {
    width: 100%;
  }
}
